:root {
  --color-button-active-background: #696969;
  --color-button-active-foreground: #000;
}

#GeneralControls {
  width: 100%;
  min-height: 2em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  align-items: center;
  border-width: 0.5px;
  border-color: #444;
}


#MidiSelectGroup {
  gap: 8px;  
  min-height: 2em;
  display: flex;
  flex-direction: row;
}

#VerticalLine{
  border-left: 1.5px solid black; 
  height: 36px; 
}

.midi-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-right: 0.5rem;
}

.midi-selector label {
  display: flex;
  margin-right: 0.5rem;
  color: white;
}

#MediaControls {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 14px;
  align-items: center;
  gap: 8px;

  & button {
    padding: 8px 16px;
    border-radius: 2px;
    background-color: #111;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: column;
    align-items: center;
    text-align: center;
    gap: 8px;

    &:hover {
      background-color: #444;
    }
  }
}

.active-button {
  border: 1px solid rgb(69, 56, 245) !important;
}

.active-button svg {
  fill: rgb(69, 56, 245) !important;
}
