#GeneralControls {
  width: 100%;
  min-height: 2em;
  padding-top: 1em;
}

.midi-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}

.midi-selector label {
  display: flex;
  margin-right: 1rem;
  min-width: 4rem;
}
