#songContainer {
  width: 100%;
  table-layout: auto;
  gap: 16px;
  margin-bottom: 16px;

  & td {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 16px;
  }

  & td:first-child {
    padding-left: 0px;
  }

  & td:last-child {
    padding-right: 0px;
  }

  & tr {
    padding-top: 16px;
  }
}

#songs-container {
  margin-bottom: 16px;
  width: 100%;
  grid-row: 2;
  grid-column: span;
}

#song-labels {
  width: 100%;
  font-weight: bold;
  border-bottom: 2px solid black;
}

#addSongButton {
  width: 100%;
  border-radius: 4px;
  background-color: grey;
}

.file-button {
  & span {
    margin-left: 16px;
  }
}
