#songContainer {
  width: 100%;
  table-layout: auto;
  gap: 16px;
  margin-bottom: 16px;

  & td {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 16px;
  }

  & td:first-child {
    padding-left: 0px;
  }

  & td:last-child {
    padding-right: 0px;
  }

  & tr {
    padding-top: 16px;
  }
}

#songs-container {
  margin-bottom: 16px;
  width: 100%;
  grid-row: 2;
  grid-column: span;
}

#song-labels {
  width: 100%;
  font-weight: bold;
  border-bottom: 2px solid black;
}

#addSongButton {
  width: 100%;
  border-radius: 4px;
  background-color: grey;
}

.file-button {
  & span {
    margin-left: 16px;
  }
}

.dialog-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;

  & div {
    padding-left: auto;
    padding-right: auto;
  }
}

.dialog-content {
  width: 100%;
  max-width: 600px;
  background-color: var(--color-card);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow);
  pointer-events: auto;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--color-border);

}
