#songContainer {
  width: 100%;
}
#songs-container{ 
  margin-bottom: 16px;
}
#song-labels {
  width: 100%;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 2px solid black;
  margin-bottom: 16px;

}
#song-labels span {
  display: flex;
  flex-shrink: 1;
  width: 20%;
}

#addSongButton {
  width: 100%;
  border-radius: 4px;
  background-color: grey;
}
.song-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
